# *
# * This Source Code Form is subject to the terms of the Mozilla Public
# * License, v. 2.0. If a copy of the MPL was not distributed with this
# * file, You can obtain one at http://mozilla.org/MPL/2.0/.
# *

# NPM
node_modules
npm*.log
v8-compile-cache*

# Intellij (directory-based)
.idea
*.iml

# Private
private

# Build files
/src/client/public/app/*

# Environment Variables
.env

# CSV files (except ones needed for database tests)
*.csv
!/src/server/test/**/*.csv

# Database
postgres-data

# Text files
*.txt
!License.txt

# Test data (normally for developers)
src/server/test/db/data/automatedTests/*.csv
