# NPM
node_modules

# Intellij (directory-based)
.idea
*.iml

# Private
private

# Build files
/src/client/public/*

# Environment Variables
.env

# CSV files (except ones needed for database tests)
*.csv
!/src/server/test/**/*.csv

#.DS_Store file
.DS_Store
