; This Source Code Form is subject to the terms of the Mozilla Public
; License, v. 2.0. If a copy of the MPL was not distributed with this
; file, You can obtain one at http://mozilla.org/MPL/2.0/.

; OED does not auto-update minor versions, only patch versions.
; ~ is the SemVer character specifying this behavior.
; This directive makes `npm install --save <package>` and `yarn add <package>` use that instead of "^"
save-prefix="~"
