/* not ideal, but fixes inconsistent width issue todo find better approach? */
.react-daterange-picker__wrapper {
	max-width: fit-content;
}

.react-daterange-picker__inputGroup {
	min-width: auto;
}

.react-daterange-picker {
	display: inline
}