# name: Build

# on:
#   pull_request:
#     branches: [ development ]
#   push:
#     branches: [ development ]

# jobs:
#   container-job:
#     env:
#       OED_DB_USER: test
#       OED_DB_PASSWORD: travisTest
#       OED_DB_DATABASE: travis_ci_dummy
#       OED_DB_TEST_DATABASE: travis_ci_test
#       OED_DB_HOST: postgres
#       OED_DB_PORT: 5432
#       OED_TOKEN_SECRET: travis
#       OED_SERVER_PORT: 3000
#       OED_TEST_SITE_READING_RATE: 00:15:00
#       DOCKER_COMPOSE_VERSION: 1.27.4
#       POSTGRES_PASSWORD: travisTest

#     runs-on: ubuntu-latest

#     services:
#       postgres:
#         image: postgres
#         env:
#           POSTGRES_PASSWORD: travisTest
#           POSTGRES_DB: travis_ci_test
#         options: >-
#           --health-cmd pg_isready
#           --health-interval 10s
#           --health-timeout 5s
#           --health-retries 5
#         ports:
#           - 5432:5432

#     steps:
#       # Checkout actions just downloads code, does not git init
#       # Find more info on the bug here - https://github.com/actions/checkout/issues/126
#       - name: Check out repository code
#         uses: actions/checkout@v3

#       - name: Use Node.js
#         uses: actions/setup-node@v3
#         with:
#           # Make sure the node version here matches containers/web/Dockerfile for the standard OED build.
#           node-version: '16.13.2'

#       - name: add testing directory
#         run:
#           mkdir src/server/tmp/uploads/csvPipeline

#       - name: Install dependencies
#         run: npm ci

#       - name: Connect to PostgreSQL
#         run: node client.js
#         env:
#           POSTGRES_HOST: postgres
#           POSTGRES_PORT: 5432
#           OED_DB_TEST_DATABASE: travis_ci_test
#           POSTGRES_PASSWORD: travisTest

#       - name: node tests
#         run: |
#           npm run check:header
#           npm run check:typescript
#           npm run check:types
#           npm run check:lint
#           npm run test

name: Build

on:
  pull_request:
    branches: [ development ]
  push:
    branches: [ development ]
# on:
#   pull_request:
#   push:
#     branches:
#       - development

jobs:
  container-job:
    env:
      OED_DB_USER: test
      OED_DB_PASSWORD: travisTest
      OED_DB_DATABASE: travis_ci_dummy
      OED_DB_TEST_DATABASE: travis_ci_test
      OED_DB_HOST: postgres
      OED_DB_PORT: 5432
      OED_TOKEN_SECRET: travis
      OED_SERVER_PORT: 3000
      OED_TEST_SITE_READING_RATE: 00:15:00
      POSTGRES_PASSWORD: travisTest

    runs-on: ubuntu-latest
    # ??Make sure the node version here matches containers/web/Dockerfile for the standard OED build.
    # container: node:16.13.2

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: travisTest
          POSTGRES_DB: travis_ci_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          # Make sure the node version here matches containers/web/Dockerfile for the standard OED build.
          node-version: '16.13.2'

      # TODO This seems like a weird hack and there may be a better way to avoid the error that
      # cannot write onto these directories.
      - name: add testing directory
        run: |
          chmod 777 src/server/tmp
          chmod 777 src/server/tmp/uploads

      - name: Install dependencies
        run: npm ci

      - name: Connect to PostgreSQL
        run: node client.js
        env:
          POSTGRES_HOST: postgres
          POSTGRES_PORT: 5432

      - name: node tests
        run: |
          npm run check:header
          npm run check:typescript
          npm run check:types
          npm run check:lint
          npm run test


# old version
# name: Build
# on:
#   pull_request:
#   push:
#     branches:
#       - development

# jobs:
#   container-job:
#     env:
#       OED_DB_USER: test
#       OED_DB_PASSWORD: travisTest
#       OED_DB_DATABASE: travis_ci_dummy
#       OED_DB_TEST_DATABASE: travis_ci_test
#       OED_DB_HOST: postgres
#       OED_DB_PORT: 5432
#       OED_TOKEN_SECRET: travis
#       OED_SERVER_PORT: 3000
#       OED_TEST_SITE_READING_RATE: 00:15:00
#       DOCKER_COMPOSE_VERSION: 1.27.4
#       POSTGRES_PASSWORD: travisTest

#     runs-on: ubuntu-latest
#     container: node:14

#     services:
#       postgres:
#         image: postgres
#         env:
#           POSTGRES_PASSWORD: travisTest
#           POSTGRES_DB: travis_ci_test
#         options: >-
#           --health-cmd pg_isready
#           --health-interval 10s
#           --health-timeout 5s
#           --health-retries 5

#         ports:
#           - 5432:5432

#     steps:
#       # Checkout actions just downloads code, does not git init
#       # Find more info on the bug here - https://github.com/actions/checkout/issues/126
#       - uses: actions/checkout@v2

#       # Sets up the git repo so that scripts that depend on it will run
#       - name: git init
#         run: |
#           git init
#           git add .

#       - name: Install dependencies
#         run: npm ci

#       - name: Connect to PostgreSQL
#         run: node client.js
#         env:
#           POSTGRES_HOST: postgres
#           POSTGRES_PORT: 5432
#           OED_DB_TEST_DATABASE: travis_ci_test
#           POSTGRES_PASSWORD: travisTest

#       - name: node tests
#         run: |
#           npm run check:header
#           npm run check:typescript
#           npm run check:types
#           npm run check:lint
#           npm run test
